<div class="my-5 text-center">
  <h1>Welcome to Hello Job</h1>
<br>
  <%= link_to "Add a job", new_job_path, class: "btn btn-success mx-2 " %>
</div>

<div class="table-responsive">
  <table class="table mx-auto w-50 p-3 shadow p-3 mb-5 bg-body rounded text-center">
    <thead class="table-dark">
      <tr>
        <th>Position</th>
        <th>Company</th>
        <th>Link</th>
      </tr>
    </thead>
    <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <th><%= job.position %></th>
          <th><%= job.company %></th>
          <th><%= job.link %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
